@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(font.css);

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'iranyekan';
  /* font-family: 'iranyekan', Segoe UI, Roboto, Fira Sans, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
